@{
    ViewBag.Title = "Sklep Internetowy";
}

<h2>Strona główna</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="form-inline pull-left">
            <label>Search</label>
            <input type="text" class="form-control" id="txtSearch" />
        </div>
    </div>
    <div id="gridProducts"></div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    $(() => {
        getProducts();
        $('#txtSearch').on('keyup', () => {
            getProducts();
        });
    });

    function getProducts() {
        $.ajax({
            url: '@Url.Action("SearchProducts", "Home")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: $('#txtSearch').val() },
            success: function (res) {
                $('#gridProducts').html('').html(res);
            },
            error: function (error) {
                console.log(error);
            }
        })
    }
</script>




@*@section scripts {
        @Scripts.Render("~bundles/jqueryval")
        @Scripts.Render("~/Scripts/selectize.js")

        <script type="text/javascript">
            var $select;

            $(document).ready(function () {
                $select = $('#ProductsList').selectize({
                    valueField: 'ProductId',
                    labelField: 'Name',
                    searchField: ['Name', 'Price'],
                    sortField: 'Name',
                    onInitialize: function () {
                        loadProductsAJAX();
                    },
                    render: {
                        option: function (item, escape) {
                            return '<div class="selectDiv">' +
                                '<span class="mainName">' + escape(item.Name) + '<span><br/>' +
                                '<span class="subLabel">Price: </span>' + '<span class="subValue">' + escape(item.Price) + '</span>' +
                                '</div>';
                        }
                    }
                });

                $('#Refresh').click(function () {
                    loadProductsAJAX();
                })
            });

            function loadProductsAJAX() {
                $.ajax({
                    url: '/Home/GetProducts',
                    type: 'POST',
                    success: function (data) {
                        for (var i = 0; i < data.length; i++)
                            $select[0].selectize.addOption(data[i]);
                    },
                    error: function (response) {
                        alert('Error: ' + response);
                    }
                });
            }


        </script>
    }*@

@*@section css {
        @Styles.Render("~/Content/selectize.bootstrap3.css")

        <style type="text/css">
            .selectize-dropdown .active {
                background-color: #428BCA;
                color: #FFFFFF;
            }

            div.selectDiv {
                border-bottom: 1px solid #e0e0e0;
            }

            .mainName {
                font-size: 12px;
            }

            .subLabel {
                font-size: 10px;
                font-weight: bolder;
                padding-left: 10px;
            }

            .subValue {
                font-size: 10px;
            }

            .mainRow {

            }

            .selectizeFormGroup {

            }
        </style>
    }*@